.vs/UniHostel/v15/.suo
.vs/UniHostel/v15/Server/sqlite3/storage.ide-shm
.vs/UniHostel/v15/Server/sqlite3/storage.ide-wal
UniHostel/bin/UniHostel.dll
UniHostel/bin/UniHostel.pdb
UniHostel/obj/Debug/UniHostel.csprojAssemblyReference.cache
UniHostel/obj/Debug/UniHostel.dll
UniHostel/obj/Debug/UniHostel.pdb