<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://localhost/unihostel</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>project/unihostel</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="UniHostelDB" Order="1" Enabled="False">
          <Destination Path="Data Source=PHUNDSE63159\SQLEXPRESS;Initial Catalog=UniHostelDB;Persist Security Info=True;User ID=sa;Password=12345678" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="UniHostel.Models.UniHostelDB, UniHostel" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="UniHostelDB-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.UniHostelDB.csdl|res://*/Models.UniHostelDB.ssdl|res://*/Models.UniHostelDB.msl;provider=System.Data.SqlClient;provider connection string="Data Source=PHUNDSE63159\SQLEXPRESS;Initial Catalog=UniHostelDB;Persist Security Info=True;User ID=sa;Password=12345678"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>