@{ 
    Layout = "~/Views/Shared/_NiceLayout.cshtml";
}

<div id="preloader">
    <span class="loader" data-loading-text="loading">
    </span>
</div>
<div class="md-hotel">
    <div id="mp-pusher" class="mp-pusher">
        <section class="md-slide-wrapper md-slide-home">
            <ul id="md-slide-fade" class="md-slide clearfix">
                <li>
                    <img src="/asset/imgRoommanager/slide-1.jpg" alt="">
                    <div class="content-slide">
                        <div class="home-content">
                            <h2 class="slide-title">blanditis</h2>
                            <h3 class="slide-title">praesentium</h3>
                            <div class="dots-line">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <p class="slide-description">Vestibulum facilisis eros at mattis aliquam. Aliquam lacinia nulla eget eros volutpat dictum. Ut venenatis ante mauris, quis vestibulum felis.</p>
                            <a href="#" class="btn btn-border btn-border-white">see more</a>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="/asset/imgRoommanager/slide-2.jpg" alt="">
                    <div class="content-	slide">
                        <div class="home-content">
                            <h2 class="slide-title alter">Aenean Turpis </h2>
                            <h3 class="slide-title alter">Malesuada Quis Ante</h3>
                            <p class="slide-description">Morbi consectetur, sem sit amet mollis fermentum, lectus risus euismod diam, vitae sollicitudin purus eros vel dolor. .</p>
                            <a href="#" class="btn btn-border btn-border-white">see more</a>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="/asset/imgRoommanager/slide-3.jpg" alt="">
                    <div class="content-slide dark">
                        <div class="home-content">
                            <h2 class="slide-title">cerat<span class="title-inner">set</span>luctus</h2>
                            <p class="slide-description">Morbi consectetur, sem sit amet mollis fermentum, lectus risus euismod diam, vitae sollicitudin purus eros vel dolor. .</p>
                            <a href="#" class="btn btn-border btn-border-white">see more</a>
                        </div>
                    </div>
                </li>
            </ul>
        </section>
        <!-- Slider End -->
        <!-- Body -->
        <div class="md-body-wrapper">
            <div class="md-home">
                <section class="row md-home-body">
                    <div class="container clearfix">
                        <aside class="grid_3 md-sidebar">
                            <section class="widget-home-info">
                                <h3 class="h3 header-sidebar">Tại sao chọn Hostel?</h3>
                                <div class="home-content">
                                    <p>
                                        <h6><i class="far fa-money-bill-alt"></i>&nbsp;  ĐẶT TRƯỚC,TRẢ SAU</h6>
                                        Mystay luôn mang đến cho quí khách sự tiên lợi nhất , đặt trước, xem phòng trước, thanh toán sau.
                                    </p>
                                    <p>
                                        <h6><i class="fa fa-suitcase"></i>&nbsp;  ĐẶT PHÒNG NHANH CHÓNG</h6>
                                        Nhân viên mystay.vn luôn sẵn sàng phục vụ quí khách "bất cứ ở đâu , bất cứ khi nào.
                                    </p>
                                    <p>
                                        <h6><i class="far fa-thumbs-up"></i>&nbsp;  ĐẢM BẢO GIÁ TỐT NHẤT</h6>
                                        Mystay.vn luôn bán đúng giá hoặc có giá tốt hơn so với đặt phòng trực tiếp! Chúng tôi "Cam kết không thu bất kỳ phí dịch vụ nào từ khách hàng".
                                    </p>
                                    <p>
                                        <h6><i class="fa fa-credit-card"></i>&nbsp;  THANH TOÁN DỄ DÀNG</h6>
                                        Hostel.vn hỗ trợ việc thanh toán cho quí khách nhiều phương thức thanh toán khác nhau . Giúp việc thanh toán của quí khách trở nên dễ dàng và nhanh chóng
                                    </p>
                                    <p>
                                        <h6><i class="fa fa-phone-square"></i>&nbsp;  DVỤ KHÁCH HÀNG CHU ĐÁO</h6>
                                        Chúng tôi có đội ngũ nhân viên tư vấn chuyên nghiệp và thân thiện sẵn sàng hỗ trợ bạn từ khi đặt phòng cho đến lúc nhận phòng.
                                    </p>
                                    <ul class="list list-check">
                                        <li><h5><i class="fas fa-check-double"></i>&nbsp;  200 Phòng</h5></li>
                                        <li><h5><i class="fas fa-check-double"></i>&nbsp;  4 Nhà hàng</h5></li>
                                        <li><h5><i class="fas fa-check-double"></i>&nbsp;  2 Quầy Cocktail bar</h5></li>
                                        <li><h5><i class="fas fa-check-double"></i>&nbsp;  Hồ bơi</h5></li>
                                        <li><h5><i class="fas fa-check-double"></i>&nbsp;  24h Đỗ xe &nbsp; Bảo vệ</h5></li>
                                        <li><h5><i class="fas fa-check-double"></i>&nbsp;  Camera an ninh 24/24</h5></li>
                                        <li><h5><i class="fas fa-check-double"></i>&nbsp;  Nhân viên lễ tân 24h</h5></li>
                                    </ul>
                                </div>
                            </section>
                            <section id="quote-slider" class="widget-quote">
                                <div class="box-quote">
                                    <p>Semper ac dolor vitae accumsan. Cras interdum hendrerit lacinia. Phasellus accumsan urna vitae molestie interdum. Nam sed placerat libero, non eleifend dolor magna.</p>
                                    <a href="#" class="text-link link-direct">Lire plus, CEO & Founder</a>
                                </div>
                                <div class="box-quote">
                                    <p>Lorem ac dolor vitae accumsan. Cras interdum hendrerit lacinia. a.</p>
                                    <a href="#" class="text-link link-direct">Lire plus, CEO & Founder</a>
                                </div>
                                <div class="box-quote">
                                    <p>Ipsum ac dolor vitae molestie interdum. Nam sed placerat libero, non eleifend dolor magna.</p>
                                    <a href="#" class="text-link link-direct">Lire plus, CEO & Founder</a>
                                </div>

                            </section>
                        </aside>

                        <div class="grid_9 md-primary">
                            <div class="row row-home">
                                <article class="media">
                                    <figure class="media-image">
                                        <img src="/asset/imgRoommanager/home1.jpg" alt="" class="media-object">
                                    </figure>
                                    <section class="media-body">
                                        <h3 class="media-header media-header-big">
                                            <a href="#">District 1 Room </a>
                                        </h3>
                                        <p class="media-content">+ Tòa nhà được trang bị hệ thống điều hòa trung tâm, hạ tầng công nghệ thông tin hiện đại, hệ thống cấp điện dự phòng 100% công suất, hệ thống phòng cháy chữa cháy tại chỗ và tự động, hệ thống an ninh giám sát 24/24h,… <a href="#" class="text-link link-direct">see more</a></p>
                                    </section>
                                </article>
                            </div><!-- /.row-article -->
                            <div class="row row-home">
                                <article class="media">
                                    <figure class="media-image">
                                        <img src="/asset/imgRoommanager/home2.jpg" alt="" class="media-object">
                                    </figure>
                                    <section class="media-body">
                                        <h3 class="media-header media-header-big"><a href="#"> Luxury room</a></h3>
                                        <p class="media-content">Tọa lạc ngay tâm điểm của Thảo Điền - nơi lưu trú của các chuyên gia người nước ngoài, nơi an cư yêu thích của nhiều doanh nhân thành đạt, các cán bộ hưu trí và các nhà ngoại giao. Nằm giữa trung tâm Thảo Điền, dự án Tropic Garden mang đến cho cư dân một không gian sống yên tĩnh, riêng biệt, ... <a href="http://localhost:58818/Rooms/RoomDetails" class="text-link link-direct">see more</a></p>
                                    </section>
                                </article>
                            </div><!-- /.row-article -->
                            <div class="row row-home">
                                <article class="media">
                                    <figure class="media-image">
                                        <img src="/asset/imgRoommanager/home3.jpg" alt="" class="media-object">
                                    </figure>
                                    <section class="media-body">
                                        <h3 class="media-header media-header-big"><a href="#">District 2 Room </a></h3>
                                        <p class="media-content">Tòa nhà gồm 1 hầm,  1 trệt, 5 lầu có 22 căn hộ cho thuê.     Các căn hộ mới hoàn toàn và được trang bị đầy đủ nộ thất cao cấp, có bảo vệ 24/24 và camera khắp tòa nhà nên an ninh tuyệt đối. <a href="#" class="text-link link-direct">see more</a></p>
                                    </section>
                                </article>
                            </div><!-- /.row-article -->
                        </div><!-- /.md-sidebar -->
                    </div>
                </section><!-- /.md-home-body -->
            </div>
        </div>
    </div><!-- /.mp-pusher -->
</div>

<div id="map" style="width:100%;height:500px; margin-top:10px;">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.453221554621!2d106.62743811484432!3d10.853091992269558!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752a20be133a37%3A0x2222564f53ae228d!2zQ8O0bmcgVmnDqm4gUGjhuqduIE3hu4FtIFF1YW5nIFRydW5n!5e0!3m2!1svi!2s!4v1540386285582" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>


