@{
    Layout = "~/Views/Shared/_NiceLayout.cshtml";
}

<link href="~/Content/css1/jquery.bxslider.css" rel="stylesheet" media="screen">
<!-- PRELOADER -->
<div id="preloader">
    <span class="loader" data-loading-text="loading">
    </span>
</div>
<!-- END / PRELOADER -->

<div class="md-hotel">
    <div id="mp-pusher" class="mp-pusher">
        <div class="container">
            <div class="md-body md-room-detail clearfix">
                <div class="grid_9 md-main">
                    <section class="heading-absolute box-sidebar align-center">
                        <header class="box-heading heading-large">
                            H
                            <div class="decription-override">
                                <h2 class="h1">Uni Hostel</h2>
                                <p>Thiên đường cho mọi nhà</p>
                            </div>
                        </header>
                    </section>
                    <div class="row">
                        <!--  Slide Preview Room -->
                        <div class="row slide-preview-room">
                            <div id="sliderBig">
                                <ul>
                                    <li class="slideshow-photo"><img src="/asset/imgRoommanager/slide-1.jpg" alt=""></li>
                                    <li class="slideshow-photo"><img src="/asset/imgRoommanager/slide-2.jpg" alt=""></li>
                                    <li class="slideshow-photo"><img src="/asset/imgRoommanager/slide-3.jpg" alt=""></li>
                                    <li class="slideshow-photo"><img src="/asset/imgRoommanager/slide-4.jpg" alt=""></li>
                                    <li class="slideshow-photo"><img src="/asset/imgRoommanager/slide-5.jpg" alt=""></li>
                                    <li class="slideshow-photo"><img src="/asset/imgRoommanager/slide-3.jpg" alt=""></li>
                                    <li class="slideshow-photo"><img src="/asset/imgRoommanager/slide-2.jpg" alt=""></li>
                                    <li class="slideshow-photo"><img src="/asset/imgRoommanager/slide-3.jpg" alt=""></li>
                                    <li class="slideshow-photo"><img src="/asset/imgRoommanager/slide-4.jpg" alt=""></li>
                                    <li class="slideshow-photo"><img src="/asset/imgRoommanager/slide-1.jpg" alt=""></li>
                                    <li class="slideshow-photo"><img src="/asset/imgRoommanager/slide-2.jpg" alt=""></li>
                                </ul>
                            </div>
                            <div id="sliderThumb">
                                <ul>
                                    <li slideIndex="0"><a href="#"><img src="/asset/imgRoommanager/thumbail-1.jpg" alt=""></a></li>
                                    <li slideIndex="1"><a href="#"><img src="/asset/imgRoommanager/thumbail-2.jpg" alt=""></a></li>
                                    <li slideIndex="2"><a href="#"><img src="/asset/imgRoommanager/thumbail-3.jpg" alt=""></a></li>
                                    <li slideIndex="3"><a href="#"><img src="/asset/imgRoommanager/thumbail-4.jpg" alt=""></a></li>
                                    <li slideIndex="4"><a href="#"><img src="/asset/imgRoommanager/thumbail-5.jpg" alt=""></a></li>
                                    <li slideIndex="5"><a href="#"><img src="/asset/imgRoommanager/thumbail-2.jpg" alt=""></a></li>
                                    <li slideIndex="6"><a href="#"><img src="/asset/imgRoommanager/thumbail-3.jpg" alt=""></a></li>
                                    <li slideIndex="7"><a href="#"><img src="/asset/imgRoommanager/thumbail-4.jpg" alt=""></a></li>
                                    <li slideIndex="8"><a href="#"><img src="/asset/imgRoommanager/thumbail-5.jpg" alt=""></a></li>
                                    <li slideIndex="9"><a href="#"><img src="/asset/imgRoommanager/thumbail-3.jpg" alt=""></a></li>
                                    <li slideIndex="10"><a href="#"><img src="/asset/imgRoommanager/thumbail-4.jpg" alt=""></a></li>

                                </ul>
                            </div>
                        </div>

                        <div class="preview-content">
                            <p>+ Căn hộ gồm 3 phòng ngủ, 2 nhà vệ sinh, 1 nhà bếp, 1 phòng khách và 1 sân phơi, ban công cửa sổ hướng tòa nhà LANMARK.Cách trung tâm Thủ Thiêm 2 km, cách Quận Bình Thạnh 2 km, cách Quận 9 5 km, cách siêu thị Metro An Phú 5.3 km, và kết nối trạm Metro số 6, 7 của tuyến Bến Thành - Suối Tiên. Tọa lạc ngay tâm điểm của Thảo Điền - nơi lưu trú của các chuyên gia người nước ngoài, nơi an cư yêu thích của nhiều doanh nhân thành đạt, các cán bộ hưu trí và các nhà ngoại giao. Nằm giữa trung tâm Thảo Điền, dự án Tropic Garden mang đến cho cư dân một không gian sống yên tĩnh, riêng biệt, gần gũi với thiên nhiên nhưng chỉ mất 10 phút để đến khu vực trung tâm Thành phố. </p>

                            <p>+ Tòa nhà có đầy đủ dịch vụ tiện ích như: Hồ bơi, Phòng tập thể thao, Café, Khu vui chơi trẻ em trong nhà, Khu công viên, Sân chơi,..Tầm nhìn đều có hướng nhìn ra sông Sài Gòn thơ mộng và khuôn viên cây xanh thoáng mát tại khuôn viên.Thiết kế kiến trúc đẹp mang đường nét phương Tây vừa cổ điển nhưng cũng mang tính hiện đại. Tropic Garden mang ý nghĩa là khu vườn nhiệt đới.</p>
                        </div>

                        <!-- Md booking -->
                        <section class="md-booking">
                            <h3 class="h3">Book TROPIC GARDEN chỉ từ <span class="number number-big">100$<span class="one-night">/ Đêm</span></span></h3>
                            <div class="box-booking booking-inline">
                                <form>
                                    <div class="form-group">
                                        <label class="label-control">Arrival Date</label>
                                        <div class="booking-form select-black">
                                            <label class="collapse input">
                                                <input type="text" id="arrival-date" class="input-control border-black" />
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="label-control">Departure Date</label>
                                        <div class="booking-form select-black">
                                            <label class="collapse input">
                                                <input type="text" id="departure-date" class="input-control border-black" />
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group select">
                                        <label class="label-control">Adults</label>
                                        <div class="input-group select-black">
                                            <label class="collapse">
                                                <select class="form-select">
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                </select>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group select">
                                        <label class="label-control">Children</label>
                                        <div class="input-group select-black">
                                            <label class="collapse">
                                                <select class="form-select">
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                </select>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group last">
                                        <label class="label-control"></label>
                                        <a href="#" class="btn btn-large btn-darkbrown">Book now</a>
                                    </div>
                                </form>
                            </div><!-- /.box-booking -->
                        </section>
                    </div>
                </div><!-- /.md-main -->
                <aside class="grid_3 md-sidebar md-sidebar-pt">
                    <section class="box-sidebar">
                        <h2 class="h3 header-sidebar">Tiện nghi căn hộ</h2>
                        <ul class="list list-check">
                            <li><i class="fas fa-check-double"></i>&nbsp;Miễn phí truy cập Wifi</li>
                            <li><i class="fas fa-check-double"></i>&nbsp;Coffee shop </li>
                            <li><i class="fas fa-check-double"></i>&nbsp;Phòng Gym</li>
                            <li><i class="fas fa-check-double"></i>&nbsp;Đầy đủ nội thất</li>
                            <li><i class="fas fa-check-double"></i>&nbsp;Thang máy</li>
                            <li><i class="fas fa-check-double"></i>&nbsp;Phòng gia đình</li>
                            <li><i class="fas fa-check-double"></i>&nbsp;Dịch vụ Giặc ủi</li>
                            <li><i class="fas fa-check-double"></i>&nbsp;Chăm sóc thú cưng</li>
                            <li><i class="fas fa-check-double"></i>&nbsp;Quầy Bar</li>
                            <li><i class="fas fa-check-double"></i>&nbsp;Máy lạnh</li>
                            <li><i class="fas fa-check-double"></i>&nbsp;Salon</li>
                            <li><i class="fas fa-check-double"></i>&nbsp;Dịch vụ đưa đón</li>
                            <li><i class="fas fa-check-double"></i>&nbsp;Khu Vực Hút Thuốc</li>
                            <li><i class="fas fa-check-double"></i>&nbsp;Tham Quan</li>
                            <li><i class="fas fa-check-double"></i>&nbsp;Hồ bơi</li>
                        </ul>
                    </section>
                </aside><!-- /.md-sidebar -->
            </div><!-- /.md-testimonail -->
        </div><!-- /.md-wrapper  -->



    </div>
</div>
@*<script type="text/javascript" src="~/Scripts/modernizr.custom.js"></script>*@
<script type="text/javascript" src="~/Scripts/jquery-1.9.1.js"></script>
@*<script type="text/javascript" src="~/Scripts/jquery-ui-1.10.3.js"></script>*@

<script type="text/javascript" src="~/Scripts/jquery.bxslider.min.js"></script>
<script type="text/javascript" src="~/Scripts/room-detail.js"></script>

@*<script type="text/javascript" src="~/Scripts/classie.js"></script>
    <script type="text/javascript" src="~/Scripts/mlpushmenu.js"></script>
    <script type="text/javascript" src="~/Scripts/script.js"></script>*@
<script type="text/javascript">
    $(function () {
        "use strict";
        $("#arrival-date, #departure-date").datepicker({});
    });
</script>
